body {
    background-image: url(house.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size:100%cqmin;
    padding-top: 2px;
    padding-left: 30px;
    background-color: rgb(100, 96, 96);
    color: #ffffff;
}
.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
}
#title {
    color: rgb(22, 22, 22);
    background-color: rgb(241, 247, 247);
    font-family: cursive;
}
#description {
    color: rgb(218, 25, 25);
    font-family: cursive;
    text-align: center;
}
.popular {
    padding-top: 5px;
    color: rgb(12, 11, 11);
    background-color: rgb(19, 170, 170);
    font-family: 'Gill Sans', 'Gill Sans MT';
}
.main {
    color: rgb(8, 8, 8);
    font-size: x-large;
    font-family: cursive;
}
.character {
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #d2d2ec;
    border-radius: 4px;
    transition: background-color 0.2s;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    color:#010303
}
.character:hover {
    background-color: #22a8e6;
}
.card-container {
    display: flex;
    margin-top: 20px;
}
.card {
    background-color: #010303;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 15px;
    color:white
}
.card img {
    border-radius: 4px;
}
.character-details {
    display: none;
    margin-top: 10px;
}
